.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1em 30vw 1em 30vw 10em auto;
  grid-template-rows: 15vh 5vh auto;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.App-title {
  grid-row: 1/1;
  grid-column: 1/-1;
  font-size: 10vh;
}

.taken-title {
  grid-row: 2/2;
  grid-column: 2/2;
  font-size: 2em;
}

.want-title {
  grid-row: 2/2;
  grid-column: 4/4;
  font-size: 2em;
}

.schedule-title {
  grid-row: 2/2;
  grid-column: 6/6;
  font-size: 2em;
}

.taken-table-container {
  grid-row: 3/3;
  grid-column: 2/2;
  top:0;
  left:0;
  right:0;
  position: relative;
  width: 30vw;
  max-width: 30vw;
  overflow-y: auto;
}

.want-table-container {
  grid-row: 3/3;
  grid-column: 4/4;
  top:0;
  left:0;
  right:0;
  position: relative;
  width: 30vw;
  max-width: 30vw;
  overflow-y: auto;
}